
/* Fill entire screen */
.wy-nav-content {
    max-width: none !important;
}

/* Tables should always auto-fit contents */
table.docutils colgroup {
    display: none !important;
}

/* Table contents should have a line-height large enough that literal segments don't clip */
table.docutils p {
    line-height: 20px !important;
}

/* Change table headers to a darker color */
table.docutils > thead > tr.row-odd > th.head {
    background-color:#e9ecec;
}

/* Flip table even / odd row colors so the lighter color appears first */
table.docutils > tbody > tr.row-even > td {
    background-color:#fcfcfc !important;
}

/* Flip table even / odd row colors so the lighter color appears first */
table.docutils > tbody > tr.row-odd > td {
    background-color:#f3f6f6 !important;
}

/* Indent main-header content */
div[itemprop=articleBody] > section > section {
    margin-left: 2%;
}

/* Unindent main-header h2 so it's not indented with its contents */
div[itemprop=articleBody] > section > section > h2 {
    margin-left: -2%;
}

/* Have admonitions auto-fit contents */
div.admonition {
    width: fit-content;
}

/* Have code-blocks auto-fit contents */
div[class^="highlight-"] {
    width: fit-content;
}

/* Custom lavender theme for summary admonitions */
div.admonition-summary > p.admonition-title {
    background: #967BB6;
}

/* Custom lavender theme for summary admonitions */
div.admonition-summary.admonition {
    background: #EEEAF3;
}

.underline {
    text-decoration: underline;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}
